SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_ANON_KEY=sua-chave-anon-ou-publishable
PORT=3000
VALOR_MULTA_DIA=2

# Token de leitura da API do TMDB.
# Crie em https://www.themoviedb.org/settings/api
TMDB_ACCESS_TOKEN=887ccccee3189c30676d8438b76459ea
