SUPABASE_URL=https://suhkqzwioehwgnsgbmjg.supabase.co
SUPABASE_ANON_KEY=seyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1aGtxendpb2Vod2duc2dibWpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MzEzODMsImV4cCI6MjA5NjAwNzM4M30.kc14Q_dGnf9S7Z9uaqORBv10HdobbGzZbq2CnLwCNI0
PORT=3000
VALOR_MULTA_DIA=2

# Token de leitura da API do TMDB.
# Crie em https://www.themoviedb.org/settings/api
TMDB_ACCESS_TOKEN=887ccccee3189c30676d8438b76459ea
